a{
  text-decoration: none;
  color: white;
  font-family: 'Roboto',sans-serif;
  font-weight: bold;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--primary-color);
  align-items: center;
  padding: 2em;
  color: white;
}

.sections{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
}

@media screen and (max-width: 600px){
  .navbar{
    flex-direction: column;
  }
  .sections{
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
  }
}