@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;400&display=swap');

:root{
  --primary-color: #64a8f7;
  --main-font: 'Roboto', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
